{% extends 'core/base.html' %}
{% load static %}

{% block title %}Actualizar datos{% endblock %}

{% block content %}

{% include 'employee/includes/employee_menu.html' %}


{%if perms.user.delete_client %}


<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{page.name}}</h2>
        <div>
          <form method="post">{% csrf_token %}
            <p>Estas seguro de que quieres borrar el registro de:  "{{ object }}"?</p>
            <input type="submit" value="Confirm">
          </form>
        </div>
      </div>
    </div>
  </div>
</main>



{% else %}
<p>No tienes permisos</p>
{% endif %}


<br>
<br>

{% endblock %}
