{% extends 'core/base.html' %}
{% load static %}

{%block title%}Servicios{% endblock%}

{% block content %}


<!--
{{servicespaso}}
<h1>prueba de select</h1>
<ul>
  {% for servicesvar in servicespaso reversed %}
    <li>{%if servicesvar.id == 1 %} x {%endif%}</li>
    <li>{%if servicesvar.id == 2 %} y {%endif%}</li>
    <li>{%if servicesvar.id == 3 %} z {%endif%}</li>
  <li>{{ servicesvar.id  }}</li>
  <li>{{servicesvar.title}}</li>
  <li>{{servicesvar.subtitle}}</li>
  {% endfor %}
</ul>
<hr>
<br>
<br>
<h2>codigo simple</h2>
{% for servicevar in servicespaso|slice:"2:3" %}
{{servicevar.title}}
{{servicevar.subtitle}}
{{servicevar.url}}
{%endfor%}
<h2>codigo simple2</h2>
{% with servicespaso as xxx %}
{{xxx.title}}
{{xxx.subtitle}}
{{xxx.content}}
{% endwith %}
<hr>
{% with name="World" %}
<html>
<div>Hello {{name}}!</div>
</html>
{% endwith %}
<hr>
{{ servicespaso|default:"nothing" }}
<br>
-->



<!-- crossfit Exercises -->
<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="site-section-heading text-center">Servicios</h2>
      </div>
    </div>
    <div class="row">

      {% for servicesvar in servicespaso %}
      <div class="col-md-4 text-center mb-4">
        <div class="border p-4 text-with-icon">
          <img src="{{servicesvar.image.url}}" />
          <h2 class="h5">{{servicesvar.title}}</h2>
          <p>{{servicesvar.content}}</p>
          <!--<p><a href="#">Learn More</a></p>-->
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- end crossfit Exercises -->




{% endblock %}

{% block legales %}
<p align="center">
      <small> Icons made by
        [https://www.flaticon.com/authors/pixelmeetup],
        [https://www.freepik.com/],
        [https://www.flaticon.com/authors/good-ware],
        [https://roundicons.com/],
        [https://www.flaticon.com/authors/pixel-perfect]
        from www.flaticon.com</small>
</p>
{% endblock %}
