{% extends 'core/base.html' %}
{% load static %}

{%block title%}Contacto{% endblock%}

{% block content %}

<!-- the club -->
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="mb-5"><img src="{% static 'core/images/mitika-lovely.jpg' %}" alt="Image" class="img-fluid"></p>
      </div>
      <div class="col-lg-5 ml-auto">
        <h2 class="site-section-heading mb-3">Contacto</h2>
        <p>Blvd. Nuevo a Santa catarina, pitahayas, plaza Mitika local 6</p>
        <p class="mb-4">Cel. 771 110 10 23</p>
      </div>
    </div>
  </div>
</div>
<!-- end the club -->


{% endblock %}
