{% extends 'core/base.html' %}
{% load static %}

{%block title%}Contacto{% endblock%}

{% block content %}

<!-- the club -->
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="mb-5"><img src="{% static 'core/images/mitika-lovely.jpg' %}" alt="Image" class="img-fluid"></p>
      </div>
      <div class="col-lg-6 ml-auto">
        <h2 class="site-section-heading mb-3">Contacto</h2>
        <p>Blvd. Nuevo a Santa catarina, pitahayas, plaza Mitika local 6</p>
        <p class="mb-4">Cel. 771 110 10 23</p>
      </div>
    </div>
  </div>
</div>
<!-- end the club -->

<!-- the club -->
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- ejemplo 1 como parrafo -->
        <!--{{ form.as_p }}-->
        <!-- ejemplo 2 como lista -->
        <!-- requiere que tenga el ul -->
        <!--<ul>
          {{form.as_ul}}
        </ul>-->
        <!-- ejemplo 3 como tabla -->
        <!-- requiere que tenga el tag table -->
        <!-- si se le pone GET se puede ver el contenido en la barra -->
        {% if 'ok' in request.GET %}
          <p>Su mensaje se ha enviado correctamente, en breve nos pondremos en contacto con usted.</p>
        {% endif %}
        <!--
        Formulario dinamico autogenerado por DJANGO
        <form action="" method="POST">
          {% csrf_token %}

          <table>
            {{form.as_table}}
          </table>
          <input type="submit" value="Enviar" />

        </form>
        -->







        <!-- Para debugear y ver si esta pasando el post
        {{ request.POST }}-->
      </div>

    </div>
  </div>
</div>
<!-- end the club -->


{% endblock %}
