{% extends 'core/base.html' %}
{% load static %}

{%block title%}Noticias y novedades{% endblock%}

{% block content %}


<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="site-section-heading text-center">Noticias y novedades</h2>
      </div>
    </div>
    <div class="row">


        {% for post in posts %}
      <div class="col-md-6 text-left mb-6">
        <div class="border p-4 text-with-icon">
          {% if post.image %}<img src="{{post.image.url}}" class="img-fluid" alt="Responsive image"/>{% endif %}
          <h2 class="h5">{{post.title}}</h2>
          <p>{{post.content|safe}}</p>
          <p><em>Fecha de publicación: </em>{{post.published|date:"SHORT_DATE_FORMAT"}}</p>
            <p><em>Autor:</em> {{post.author}}</p>
            <p><em>Categoría:</em>
          {% for category in post.categories.all %}
            <a href="{%url 'cat3gory' category.id %}">
              {{category.name}}
            </a>
              {%if not forloop.last %},{% endif %}
          {% endfor %}
            </p>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>




{% endblock %}

{% block legales %}
{% endblock %}
